# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Editores
.vscode/
.idea/
*.suo
*.user
*.swp
*.swo

# Logs y temporales
*.log
*.tmp
*.bak

# Node (si se usa en algún momento)
node_modules/
npm-debug.log*
